* {
    margin: 0;
    padding: 0;
}
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

html {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

@media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 992px) {
    html {
      font-size: 14.5px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

a:link {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 40%;
}

.container .row {
   margin-left: -0.75rem;
   margin-right: -0.75rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
    .row:after {
        content: "";
        display: table;
        clear: both; }
    .row .col {
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0 0.75rem; }
        .row .col.s1 {
            width: 8.33333%;
            margin-left: 0; }
        .row .col.s2 {
            width: 16.66667%;
            margin-left: 0; }
        .row .col.s3 {
            width: 25%;
            margin-left: 0; }
        .row .col.s4 {
            width: 33.33333%;
            margin-left: 0; }
        .row .col.s5 {
            width: 41.66667%;
            margin-left: 0; }
        .row .col.s6 {
            width: 50%;
            margin-left: 0; }
        .row .col.s7 {
            width: 58.33333%;
            margin-left: 0; }
        .row .col.s8 {
            width: 66.66667%;
            margin-left: 0; }
        .row .col.s9 {
            width: 75%;
            margin-left: 0; }
        .row .col.s10 {
            width: 83.33333%;
            margin-left: 0; }
        .row .col.s11 {
            width: 91.66667%;
            margin-left: 0; }
        .row .col.s12 {
            width: 100%;
            margin-left: 0; }
        @media only screen and (min-width : 601px) {
            .row .col.m1 {
                width: 8.33333%;
                margin-left: 0; }
            .row .col.m2 {
                width: 16.66667%;
                margin-left: 0; }
            .row .col.m3 {
                width: 25%;
                margin-left: 0; }
            .row .col.m4 {
                width: 33.33333%;
                margin-left: 0; }
            .row .col.m5 {
                width: 41.66667%;
                margin-left: 0; }
            .row .col.m6 {
                width: 50%;
                margin-left: 0; }
            .row .col.m7 {
                width: 58.33333%;
                margin-left: 0; }
            .row .col.m8 {
                width: 66.66667%;
                margin-left: 0; }
            .row .col.m9 {
                width: 75%;
                margin-left: 0; }
            .row .col.m10 {
                width: 83.33333%;
                margin-left: 0; }
            .row .col.m11 {
                width: 91.66667%;
                margin-left: 0; }
            .row .col.m12 {
                width: 100%;
                margin-left: 0; } }
        @media only screen and (min-width : 993px) {
          .row .col.l1 {
            width: 8.33333%;
            margin-left: 0; }
          .row .col.l2 {
            width: 16.66667%;
            margin-left: 0; }
          .row .col.l3 {
            width: 25%;
            margin-left: 0; }
          .row .col.l4 {
            width: 33.33333%;
            margin-left: 0; }
          .row .col.l5 {
            width: 41.66667%;
            margin-left: 0; }
          .row .col.l6 {
            width: 50%;
            margin-left: 0; }
          .row .col.l7 {
            width: 58.33333%;
            margin-left: 0; }
          .row .col.l8 {
            width: 66.66667%;
            margin-left: 0; }
          .row .col.l9 {
            width: 75%;
            margin-left: 0; }
          .row .col.l10 {
            width: 83.33333%;
            margin-left: 0; }
          .row .col.l11 {
            width: 91.66667%;
            margin-left: 0; }
          .row .col.l12 {
            width: 100%;
              margin-left: 0; } }

.left {
    float: left;
}

.right {
    float: right;
}

#nav-son ul {
  padding: 0;
  position:absolute;
  
  
  }
  #nav-son ul li {
    list-style-type: none; }
#nav-son {
    padding-left: 74px;
    line-height: 38px;
}
#nav-son  li {
    display: inline-block;
    padding-left: 10px; 
    font-family: 'Roboto-light', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;}
#nav-son a:active {
    color:#3C6D9D;
}
#nav-son a:visited {
    color: #000;
}
#nav-son a:link{
    color: #000;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto-Thin', 'Avenir-Ligh', sans-serif;
    font-weight: 400;
  	
}

/*
.card {
	position: relative;
	overflow: hidden;
	margin: 0.5rem 0 1rem 0;
	border-radius: 2px;
    margin: 0 auto}
	.card .card-title {
		font-size: 24px;
		font-weight: 300; }
	.card.small {
		position: relative; }
		.card.small .card-image {
			overflow: hidden;
		}
		.card.small .card-content {
			overflow: hidden;
		}
.card.small {
    height: 200px;
    width: 150px;}
    .card.small .card-image {
    	height: 160px; }
    .card.small .card-content {
    	height: 100px;
    	 }
    .card .card-image {
    	position: relative; }
    	.card .card-image img {
    		display: block;
    		border-radius: 2px 2px 0 0;
    		position: relative;
    		left: 0;
    		right: 0;
    		top: 0;
    		bottom: 0;
    		width: 100%; }
    	.card .card-image .card-title {
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		padding: 20px; }
    .card .card-content {
    	padding: 20px;
    	border-radius: 0 0 2px 2px; }
    	.card .card-content p {
    		margin: 0;
            text-align: center; }
    	.card .card-content .card-title {
    		line-height: 10px;
    	}
*/

.icon {
    width: 100%;
    height: 100px;
}


.img-contain {
    width:800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.me {
    
/*    margin-top: 20px;*/
    
}

.nav {
    margin: 0 auto;
    width: 800px;
    height: 100%;
}

.porch {
/*
    background: url('/images/porchswing.png') no-repeat;
    background-size: 'cover';
    background-position: 'center center';
*/
    width: 300px;
    height: 200px; 
    margin: 0 auto;
    padding-bottom: 10px;
}

.devvit {
/*
    
    background: url('/images/porchswing.png') no-repeat;
    background-size: 'cover';
    background-position: 'center center';
*/
    width: 300px;
    height: 200px; 
    margin: 0 auto;
}

.porchimg {
    width: 300px;
    height: auto;
}

.devvitimg {
    width: 300px;
    height: auto;
}

.fa {
    font-size: 1.5em;
    padding-top: 3px;
}







