<article>
   <div class = 'me-contain'>
    <img class = 'myface' src = 'images/memed.png'>
       <p>The name is William Mech, you can also call me Billy. I'm a full stack web developer that specializes in the front end. I became interested in web design when I was 12 years old, and taught myself html. Now at the ripe old age of 27 I've added <span class = 'skillabt'>CSS</span>, <span class = 'skillabt'>Javascript</span>, <span class = 'skillabt'>React</span>, <span class = 'skillabt'>NodeJS</span>, and <span class = 'skillabt'>MongoDB</span> to my skillset. At one point in my life I was going to school to be a graphic designer, so alongside my experience with <span class = 'skillabt'>photoshop</span> I'd like to think that I have an eye for design.</p>
		<br>
		<p>I was born in Chicago, raised in Oklahoma, and currently live in Florida. August 2015 I decided to go to Provo, Utah to attend <a href = 'https://devmounta.in/' target = '_blank'><span class = 'devmtn'>Dev Mountain.</span></a> I had an amazing time learning the MEAN stack at Dev Mountain, and I continue to teach myself everyday. 
		<br>
       <p>When I'm not making killer web apps you can find me playing video games, watching college football (BOOMER SOONER!), learning new tech, building computers, or listening to almost any genre of music.</p>
       <br>
       <p>If you're interested in anything I have to offer, or just want to talk about college football find me at any of the links above or shoot me an email - <span class = 'skillabt'>williamtmech@gmail.com</span>
	   
       
</div>
</article>