<!--<div class = "row">-->
<!--    <div class = "container">-->
        <div class = "main">
<!--            <ul class = "list">-->
               <img class="img1" src="/images/html5-color.svg" alt="HTML">
               <img class="img2" src="/images/css3-color.svg" alt="CSS">
               <img class="img3" src="/images/javascript.svg" alt="Javascript">
               <img class="img4" src="/images/angular-color.svg" alt="AngularJS">
<!--            </ul>-->
        </div>
<div class = "secondary">
     <img class="img5" src="/images/Photoshop_CC_icon.png" alt="Photoshop">
     <img class = "img7" src = "/images/nodejs.png" alt="NodeJS">
     <img class = "img6" src = "/images/express.png" alt="Express">
     <img class = "img8" src = "/images/mongodb.png" alt="MongoDB">
</div>
<br>
<br>
<br>
<!--    </div>-->
<!--</div>-->
  

  
  
  
  
  
  <!--<div class="main-skills">
   <ul class = "main-skill-list">
       <li><img class="img1" src="/images/html5-color.svg"></li>
       <li><img class="img2" src="/images/css3-color.svg"></li>
       <li><img class="img3" src="/images/javascript.svg"></li>
       <li><img class="img4" src="/images/angular-color.svg"></li>
    </ul>
</div> -->

<!--<div class = "skills">
    <ul class ="skill-list">
        <li><img class="img5" src="/images/git.svg"></li>
    </ul>
</div>-->
