<div class = 'me-contain'>
    <div class = 'porch'>
    <a href = 'https://www.youtube.com/watch?v=HDB1ivI4zNg' target="_blank"><img class = 'porchimg' src = '/images/porchswing.png' alt = 'Click to watch a video walkthrough'></a><br>
    <span class = 'porchtext'>Porchswing.fm</span>
    </div>
    <div class = 'devvit'>
        <a href = 'http://devvit.herokuapp.com/#/login' target="_blank"><img class = 'devvitimg' src = '/images/devvit.png' alt = 'Click for a live preview'></a><br>
    <span class = 'porchtext'>Devvit</span>
    </div>
</div>